:root {
    --primary-color: #aa996f;
    --secondary-color: #808e85;
    --tertiary-color: #526459;

    --util-color: #97795b;
    --background-color: #24231c;

    --black-color: #000;
    --white-color: #fff;
}

// Generate Color Palate -> http://colormind.io/
