@use '../util' as u;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

h1 {
    font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}

h2 {
    font-size: clamp(u.rem(24), u.rem(14) + 2vw, u.rem(36));
}

h3 {
    font-size: clamp(u.rem(20), u.rem(12) + 2vw, u.rem(32));
}

h4 {
    font-size: clamp(u.rem(18), u.rem(10) + 2vw, u.rem(28));
}

h5 {
    font-size: clamp(u.rem(16), u.rem(8) + 2vw, u.rem(24));
}

h6 {
    font-size: clamp(u.rem(14), u.rem(6) + 2vw, u.rem(20));
}

p {
    font-size: clamp(u.rem(16), u.rem(12) + 1vw, u.rem(20));
    margin-top: 0;
    line-height: 1.1;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
